<div class="card">
    <div class="card-header">
        <h2>Artista con más canciones</h2>
    </div>
    <div class="card-body">
        <table class="table table-info">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Artista</th>
                    <th class="text-center">Numcanciones</th>
                    <th class="text-center">Idioma</th>
                    <th class="text-center">Genero</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">{{disco.id}}</td>
                    <td class="text-center">{{disco.nombre}}</td>
                    <td class="text-center">{{disco.artista}}</td>
                    <td class="text-center">{{disco.numcanciones}}</td>
                    <td class="text-center">{{disco.idioma}}</td>
                    <td class="text-center">{{disco.genero}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>